body    {
background-color: lavender;

	}

h1 {
color: white;
font-size: 18px;
padding: 10px;
margin: 10px;
text-align: center;
border: 2px solid gray;
}

p {
color: black;
font-size: 25px;
padding: 10px;
margin: 10px;
text-align: center;


}


img:hover {
	-webkit-transform: rotate(1080deg);
	transition:all .5s;
	}

h2 {
color: white;
font-size: 25px;
padding: 10px;
margin: 10px;
text-align: center;
border: 2px solid gray;
}

h3 {
color: white;
font-size: 25px;
padding: 10px;
margin: 10px;
text-align: center;
border: 2px solid gray;
}

ul {
color: black;
font-size: 15px;

}