body {
background-color: lavender;
}

h1 {
border: 3px solid white;
font-size: 25px;
padding: 10px;
mading: 10px;
color: white;
text-align: center;
}

ul {
font-size: 20px;
padding: 10px;
mading: 10px;
color: white;

}

p {
font-size: 18px;
}

img {
border: 3px solid white;
font-size: 25px;
padding: 5px;
mading: 5px;
height: 150px;
widht: 150px;
border-radius: 50% 50% 30% 30%;
float: left;
}


img:hover {
	-webkit-transform: rotate(1080deg);
	transition:all .5s;
	}